<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>마이페이지</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 다음 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="mypage.css" />
    <script src="mypage.js" type="module" defer></script>
  </head>
  <body>
    <p id="user-admin" style="display: none">관리자</p>
    <div>
      <label for="">이름</label>
      <input
        type="text"
        id="user-name"
        name="userName"
        placeholder="유저이름"
        style="width: 200px"
      />
    </div>
    <div>
      <label for="">이메일</label>
      <input
        type="text"
        id="user-email"
        name="userEmail"
        placeholder="이메일"
        readonly
        style="width: 200px"
      />
    </div>
    <div>
      <label for="">현재 비밀번호</label>
      <input
        type="password"
        id="user-current-password"
        name="userCurrentPassword"
        style="width: 200px"
      />
    </div>
    <div>
      <label for="">새 비밀번호</label>
      <input
        type="password"
        id="user-new-password"
        name="userNewPassword"
        style="width: 200px"
      />
    </div>
    <div>
      <label for="">우편번호</label>
      <input
        type="number"
        id="user-postcode"
        name="userPostcode"
        placeholder="06279"
        style="width: 200px"
      />
      <input id="postCodeSearchButton" type="button" value="우편번호 찾기" />
    </div>
    <div>
      <label for="">주소</label>
      <input
        type="text"
        id="user-address"
        name="userAddress"
        placeholder="주소"
        style="width: 200px"
      />
    </div>
    <div>
      <label for="">상세주소</label>
      <input
        type="text"
        id="user-detail-address"
        name="userDetailAddress"
        placeholder="상세주소"
        style="width: 200px"
      />
    </div>
    <div>
      <button id="user-info-edit-button">유저 정보 변경</button>
    </div>
    <button id="user-withdraw-button">회원탈퇴</button>
    <button id="users-info-button" style="display: none">
      유저정보 콘솔로 불러오기
    </button>

    <div class="my-shopping">
      <div class="my-shopping-title-wrapper">
        <h3 class="my-shopping-title">나의 쇼핑</h3>
      </div>
      <ul class="my-order-menu-list">
        <li class="my-order-menu-wrapper">
          <div class="my-order-menu-title">주문 · 배송</div>
          <div class="my-order-menu-icon-wrapper">
            <img class="my-order-menu-icon" src="" alt="" />
          </div>
        </li>
        <li class="my-order-menu-wrapper">
          <div class="my-order-menu-title">주문 수정</div>
          <div class="my-order-menu-icon-wrapper">
            <img class="my-order-menu-icon" src="" alt="" />
          </div>
        </li>
        <li class="my-order-menu-wrapper">
          <div class="my-order-menu-title">주문 취소</div>
          <div class="my-order-menu-icon-wrapper">
            <img class="my-order-menu-icon" src="" alt="" />
          </div>
        </li>
      </ul>
    </div>
    <div class="display-order-info">
      <div class="display-order-title-wrapper">
        <h2 class="display-order-title">나의 쇼핑</h2>
      </div>
      <div class="display">
        <div class="no-data">
          <span>주문 및 배송조회 가능한 내역이 없습니다.</span>
        </div>
        <div class="order-data">
          <table border="1" class="order-table"></table>
          <ul id="page-btn"></ul>
        </div>
      </div>
    </div>
  </body>
</html>
