<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="productdetial.js" type="module" defer></script>
        <title>product-detail</title>
    </head>
    <body>
        <div id="product-frame">
            <img id="product-image" alt="상품 사진" />
            <div id="product-category">
                <span id="ctg"></span>
            </div>
            <div id="product-title">
                <span id="title"></span>
            </div>
            <div id="product-price">
                <span id="price"></span>
            </div>
            <div id="product-description">
                <span id="description"></span>
            </div>
            <div id="amoutnBtn">
                <button id="minusBtn">-</button>
                <input id="amountInput" type="number" value="1" />
                <button id="plusBtn">+</button>
            </div>
            <div>
                <button id="pushCart">장바구니 담기</button>
            </div>
        </div>
    </body>
</html>
