<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 다음 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../CSS/styles.css" />
    <script src="register-kakao.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav role="navigation" aria-label="main navigation">
      <div class="nav-frame">
        <div class="nav-logo-box">
          <!-- <img src="/elice-rabbit.png" width="30" height="30" /> -->
          <a href="/">
            <i class="fas fa-cat"></i>
            <span class="">Pet Shop</span>
          </a>
        </div>

        <div class="github-link">
          <a
            href="https://github.com/Elice-SW-Engineer-Project"
            target="_blank"
          >
            <i class="fa-brands fa-github fa-lg"></i>
            Github Organization
          </a>
        </div>

        <div class="nav-link-box-frame">
          <ul class="nav-link-box" id="navbar">
            <li id="navbar__menu">
              <a href="#">메뉴</a>
            </li>
            <li id="navbar__category" style="display: none">
              <a href="#">카테고리 관리</a>
            </li>
            <li id="navbar__product" style="display: none">
              <a href="#">상품 관리</a>
            </li>
            <li id="navbar__order" style="display: none">
              <a href="#">주문 관리</a>
            </li>
            <li id="navbar__admin" style="display: none">
              <a href="#">관리자</a>
            </li>
            <li id="navbar__mypage" style="display: none">
              <a href="/mypage">마이페이지</a>
            </li>
            <li id="navbar__login"><a href="/login">로그인</a></li>
            <li id="navbar__register"><a href="/register">회원가입</a></li>
            <li>
              <a href="cart" id="navbar__cart" aria-current="page">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="div-container">
      <!-- 회원가입 폼(Form) -->
      <div class="register-user-form-container">
        <form class="box register-user-form-box" id="registerUserForm">
          <p class="title is-5 has-text-primary">환영합니다!</p>
          <div class="field">
            <label class="label" for="fullNameInput">이름</label>
            <div class="control">
              <input
                class="input"
                id="fullNameInput"
                type="text"
                placeholder="유재석"
                autocomplete="on"
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="postCodeInput">우편번호</label>
            <div class="control">
              <input
                class="input"
                id="postCodeInput"
                type="number"
                placeholder="06279"
                autocomplete="off"
              />
              <input
                id="postCodeSearchButton"
                type="button"
                value="우편번호 찾기"
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="addressInput">주소</label>
            <div class="control">
              <input
                class="input"
                id="addressInput"
                type="text"
                placeholder="서울시 강남구 도곡로78길 22"
                autocomplete="off"
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="detailAddressInput">상세주소</label>
            <div class="control">
              <input
                class="input"
                id="detailAddressInput"
                type="text"
                placeholder="오일남 아파트 103동 1002호"
                autocomplete="off"
              />
            </div>
          </div>

          <button class="button is-primary is-fullwidth" id="submitButton">
            회원가입하기
          </button>
        </form>
      </div>
    </div>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 text-team-name">
            <h3>🐰 무수면 토끼</h3>
            <span>김동한</span>
            <span>차지환</span>
            <span>손병진</span>
            <span>김채현</span>
            <span>김상현</span>
          </div>
        </div>
        <hr />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12 icon-parent">
            <p class="copyright-text">엘리스 웹 서비스 팀프로젝트 팀 페이지</p>
            <ul class="social-icons">
              <li>
                <a
                  class="notion"
                  href="https://www.notion.so/elice/e4a5fa484abe445898f5e39870e257be"
                  target="_blank"
                  ><i class="fa-solid fa-info"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
