<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" sizes="16x16" href="/no-sleep-rabbit-favicon.png" />
        <link href="../CSS/styles.css" rel="stylesheet" />
        <!-- 폰트 어썸: 아이콘 -->
        <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
        <script src="menu.js" type="module" defer></script>
        <title>메뉴</title>
    </head>
    <body>
        <!-- 헤더 -->
        <nav role="navigation" aria-label="main navigation">
            <div class="nav-frame">
                <div class="nav-logo-box">
                    <!-- <img src="/elice-rabbit.png" width="30" height="30" /> -->
                    <a href="/">
                        <i class="fas fa-cat"></i>
                        <span class="">Pet Shop</span>
                    </a>
                </div>

                <div class="github-link">
                    <a href="https://github.com/Elice-SW-Engineer-Project" target="_blank">
                        <i class="fa-brands fa-github fa-lg"></i>
                        Github Organization
                    </a>
                </div>

                <div class="nav-link-box-frame">
                    <ul class="nav-link-box" id="navbar">
                        <li id="navbar__menu">
                            <a href="#">메뉴</a>
                        </li>
                        <li id="navbar__category" style="display: none">
                            <a href="#">카테고리 관리</a>
                        </li>
                        <li id="navbar__product" style="display: none">
                            <a href="#">상품 관리</a>
                        </li>
                        <li id="navbar__order" style="display: none">
                            <a href="#">주문 관리</a>
                        </li>
                        <li id="navbar__admin" style="display: none">
                            <a href="#">관리자</a>
                        </li>
                        <li id="navbar__mypage" style="display: none">
                            <a href="/mypage">마이페이지</a>
                        </li>
                        <li id="navbar__login"><a href="/login">로그인</a></li>
                        <li id="navbar__register"><a href="/register">회원가입</a></li>
                        <li>
                            <a href="cart" id="navbar__cart" aria-current="page">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="menu-frame">
            <div id="categories">
                <ul id="menu"></ul>
            </div>
            <div class="div-container">
                <div class="product-lists"></div>
            </div>
        </div>
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 text-team-name">
                        <h3>🐰 무수면 토끼</h3>
                        <span>김동한</span>
                        <span>차지환</span>
                        <span>손병진</span>
                        <span>김채현</span>
                        <span>김상현</span>
                    </div>
                </div>
                <hr />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12 icon-parent">
                        <p class="copyright-text">엘리스 웹 서비스 팀프로젝트 팀 페이지</p>
                        <ul class="social-icons">
                            <li>
                                <a
                                    class="notion"
                                    href="https://www.notion.so/elice/e4a5fa484abe445898f5e39870e257be"
                                    target="_blank"
                                    ><i class="fa-solid fa-info"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
