<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>회원가입</title>
        <!-- 아이콘 -->
        <link rel="icon" type="image/png" sizes="16x16" href="/no-sleep-rabbit-favicon.png" />
        <!-- 폰트 어썸: 아이콘 -->
        <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
        <!-- 카카오 OAuth -->
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <!-- 다음 주소 API -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="../CSS/styles.css" />
        <script src="register.js" type="module" defer></script>
    </head>
    <body>
        <!-- 헤더 -->
        <nav role="navigation" aria-label="main navigation">
            <div class="nav-frame">
                <div class="nav-logo-box">
                    <!-- <img src="/elice-rabbit.png" width="30" height="30" /> -->
                    <a href="/">
                        <i class="fas fa-cat"></i>
                        <span class="">Pet Shop</span>
                    </a>
                </div>

                <div class="github-link">
                    <a href="https://github.com/Elice-SW-Engineer-Project" target="_blank">
                        <i class="fa-brands fa-github fa-lg"></i>
                        Github Organization
                    </a>
                </div>

                <div class="nav-link-box-frame">
                    <ul class="nav-link-box" id="navbar">
                        <li id="navbar__menu">
                            <a href="#">메뉴</a>
                        </li>
                        <li id="navbar__category" style="display: none">
                            <a href="#">카테고리 관리</a>
                        </li>
                        <li id="navbar__product" style="display: none">
                            <a href="#">상품 관리</a>
                        </li>
                        <li id="navbar__order" style="display: none">
                            <a href="#">주문 관리</a>
                        </li>
                        <li id="navbar__admin" style="display: none">
                            <a href="#">관리자</a>
                        </li>
                        <li id="navbar__mypage" style="display: none">
                            <a href="/mypage">마이페이지</a>
                        </li>
                        <li id="navbar__login">
                            <a href="/login">로그인</a>
                        </li>
                        <li id="navbar__register">
                            <a href="/register">회원가입</a>
                        </li>
                        <li>
                            <a href="cart" id="navbar__cart" aria-current="page">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <!-- 회원가입 폼(Form) -->
            <form class="signUpForm" id="registerUserForm">
                <div class="field">
                    <label class="signUpLabel" for="fullNameInput">이름 <span class="star">*</span></label>
                    <div class="control">
                        <input
                            class="signUpInput"
                            id="fullNameInput"
                            type="text"
                            placeholder="이름"
                            autocomplete="on"
                        />
                    </div>
                </div>

                <div class="field">
                    <label class="signUpLabel" for="emailInput">이메일 <span class="star">*</span></label>
                    <div class="inputContainer control">
                        <input
                            class="signUpInput"
                            id="emailInput"
                            type="email"
                            placeholder="이메일 주소"
                            autocomplete="on"
                        />
                        <button id="emailCheck" class="checkBtn" type="button">이메일 중복검사</button>
                    </div>
                </div>

                <div class="field">
                    <label class="signUpLabel" for="passwordInput"
                        >비밀번호 <span class="star">*</span></label
                    >
                    <div class="control">
                        <input
                            class="signUpInput"
                            id="passwordInput"
                            type="password"
                            placeholder="비밀번호"
                            autocomplete="off"
                        />
                    </div>
                </div>

                <div class="field mb-5">
                    <label class="signUpLabel" for="passwordConfirmInput"
                        >비밀번호 확인 <span class="star">*</span></label
                    >
                    <div class="control">
                        <input
                            class="signUpInput"
                            id="passwordConfirmInput"
                            type="password"
                            placeholder="비밀번호 확인"
                            autocomplete="off"
                        />
                    </div>
                </div>

                <div class="field">
                    <label class="signUpLabel" for="postCodeInput"
                        >우편번호 <span class="star">*</span></label
                    >
                    <div class="inputContainer control">
                        <input
                            class="signUpInput"
                            id="postCodeInput"
                            type="number"
                            placeholder="06279"
                            autocomplete="off"
                        />
                        <input
                            id="postCodeSearchButton"
                            class="checkBtn"
                            type="button"
                            value="우편번호 찾기"
                        />
                    </div>
                </div>

                <div class="field">
                    <label class="signUpLabel" for="addressInput">주소 <span class="star">*</span></label>
                    <div class="control">
                        <input
                            class="signUpInput"
                            id="addressInput"
                            type="text"
                            placeholder="서울시 강남구 도곡로78길 22"
                            autocomplete="off"
                        />
                    </div>
                </div>

                <div class="field">
                    <label class="signUpLabel" for="detailAddressInput"
                        >상세주소
                        <span class="star">*</span>
                    </label>
                    <div class="control">
                        <input
                            class="signUpInput"
                            id="detailAddressInput"
                            type="text"
                            placeholder="오일남 아파트 103동 1002호"
                            autocomplete="off"
                        />
                    </div>
                </div>

                <button class="signUpBtn" id="submitButton">동의하고 가입하기</button>
            </form>
        </div>
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 text-team-name">
                        <h3>🐰 무수면 토끼</h3>
                        <span>김동한</span>
                        <span>차지환</span>
                        <span>손병진</span>
                        <span>김채현</span>
                        <span>김상현</span>
                    </div>
                </div>
                <hr />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12 icon-parent">
                        <p class="copyright-text">엘리스 웹 서비스 팀프로젝트 팀 페이지</p>
                        <ul class="social-icons">
                            <li>
                                <a
                                    class="notion"
                                    href="https://www.notion.so/elice/e4a5fa484abe445898f5e39870e257be"
                                    target="_blank"
                                    ><i class="fa-solid fa-info"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
