<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문관리</title>
    <h1>주문관리</h1>
</head>

<body>
    <ul class="orderList">
        <li class="user">구매자</li>
        <li class="product">주문정보</li>
        <li class="orderPrice">결제금액</li>
        <li class="orderDate">주문일자</li>
        <li class="process">상태</li>
        <li class="changeBtn">변경</li>
        <li class="deleteBtn">삭제</li>
    </ul>
    <ul class="orderList" id="template">
        <li class="user">구매자</li>
        <li class="product">주문정보</li>
        <li class="orderPrice">결제금액</li>
        <li class="orderDate">주문일자</li>
        <li class="process">
            <form>
                <select>
                    <option value="WAIT">배송대기</option>
                    <option value="INPROCESS">배송중</option>
                    <option value="COMPLETED">배송완료</option>
                </select>
            </form>
        </li>
        <li><button id="changeBtn">변경</button></li>
        <li><button id="deleteBtn">삭제</button></li>
    </ul>
    <script src="index.js"></script>

</body>

</html>