
body {
    padding: 0;
    margin: 0;

}
  
.container{
    /* width: 100vh; */
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr 0.5fr;
    margin: 10%;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .dogimg{
    width :700px;
    height: 700px;
    border-radius: 50%;
    background-image: url("http://image.dongascience.com/Photo/2020/03/5bddba7b6574b95d37b6079c199d7101.jpg");
    background-size: cover;
    box-shadow: 60px 0px 60px -90px #000000,
                0px 60px 60px -90px #000000;
}
.item .homeBtn{
    width :200px;
    height: 60px;
    border-radius: 30px;
    border-width: 2px;
    background-color: #FBA7A7;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
